<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 🚀 Lagui+ - Réinitialisation mot de passe </title>
  </head>
  <style>
    .button-1 { background-color: #f46309; border-radius: 8px; border-style:
    none; box-sizing: border-box; color: #FFFFFF; cursor: pointer; display:
    inline-block; font-family: "Haas Grot Text R Web", "Helvetica Neue",
    Helvetica, Arial, sans-serif; font-size: 13px; font-weight: 500; height:
    35px; line-height: 20px; list-style: none; margin: 0; outline: none;
    padding: 5px 8px; position: relative; text-align: center; text-decoration:
    none; transition: color 100ms; vertical-align: baseline; user-select: none;
    -webkit-user-select: none; touch-action: manipulation; } .button-1:hover,
    .button-1:focus { background-color: #ec9f33; } .img { display: block;
    margin-left: auto; margin-right: auto; width: 50%; }
  </style>
  <body>
    <div
      style="display:flex; justify-content: center ; margin-top:30px; height=30px"
    >
      <img
        src="https://github.com/ibou18/logo/blob/main/Lagui%20cinema%20logo%20video%20h%20CINEMA-01.png?raw=true"
        alt="logo"
        height="50px"
        {{! width="30px" }}
      />
    </div>
    <div style="margin-left: 10px; font-family:verdana">
      <p>Salut <span style="font-weight: bold;">{{name}}</span></p>
      <p>Ce message a pour but de réinitialiser ton mot de passe sur le site de
        Lagui+ Cinéma
      </p>

      <p>Pour plus d'informations tu peux retrouver de l'aide dans la section
        FaQ du site.
      </p>

      <a href={{resetUrl}} target="_blank">
        <button class="button-1" role="button">Changer le mot de passe</button>
      </a>
      <div>
        <h5>🎬 L'équipe Lagui+ Cinéma </h5>
        <div style="font-size:8px;">
          <p>
            &copy; 2023 Lagui+ Cinéma, All rights reserved.
          </p>
          <p style="margin-top:-5px ;">
            🚀 Made by Lagui Dev. with ❤️
          </p>
        </div>
      </div>
    </div>
  </body>
</html>